@page "/"

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-6 offset-3" align="center">
            <img alt="Center of Biological Diversity logo." class="img-fluid" src="/images/CBD_logo.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3" align="center">
            <form>
                <input type="search" class="form-control" id="homepageSearchBar" aria-describedby="searchBar" placeholder="What are you looking for?">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary m-2">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
